# É um .venv de exemplo
# Substitua o nome do arquivo para .env e preencha os valores conforme necessário.
# Configurações de Inicialização do FastAPI
# AMBIENTE=desenvolvimento
# PORTA=8000

# Banco de Dados
# Preencha com a URL real do Supabase
# SUPABASE_URL=
# SUPABASE_CHAVE_ANONIMA=

# APIs e OAuth2
# Preencha com as credenciais

# GOOGLE_CLIENT_ID=
# GOOGLE_CLIENT_SECRET=
# GOOGLE_REDIRECT_URI=

# Autenticação e Segurança
# Preencha com os dados do Keycloak

# KEYCLOAK_URL=
# KEYCLOAK_REALM=
# KEYCLOAK_CLIENT_ID=
# KEYCLOAK_ADMIN=
# KEYCLOAK_ADMIN_PASSWORD=